// Here you can add other styles
._loading_overlay_content {
    top: 45%;
    left: 25%;
    position: fixed;
    font-size: 34px;
    color: #efefef;
  }
  .object-select{
    border: 1px solid #b8b8ff;
    border-radius: 5px;
  }
  .value-select{
    border: 1px solid #8be071;
    border-radius: 5px;
  }
  .action-operator{
    border: 1px solid #6a3228;
    border-radius: 5px;
  }
  .mh-200{
    //height: 200px;
    max-height: 200px;
    overflow-y: auto;
  }